{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode gzip

	@api path /api/* /admin/*
	handle @api {
		reverse_proxy backend:8000
	}

	@assets path /static/* /media/*
	handle @assets {
		root * /srv
		file_server
	}

	handle {
		root * /srv/app
		try_files {path} /index.html
		file_server
	}
}
